<html>
<head>
</head>
<body>
    @RenderBody()
<p>
    Thank you,<br/>
    <span style="font-family: 'Segoe Script'">Boutique Operations</span>
</p>
<p><small class="text-muted">
    <u>IMPORTANT/CONFIDENTIAL:</u> The information contained in this e-mail transmission is confidential.
    It may also be subject to the attorney-client privilege or privileged work product or proprietary information.
    If you are not the intended recipient (or authorized to act on behalf of the intended recipient) of this e-mail transmission,
    you may not disclose, forward, distribute, copy, or use this message or its contents. If you have received this communication in error,
    please notify us immediately by return e-mail and delete the original message from your e-mail system.
</small></p>
</body>
</html>