<p>Hello Team francesca's</p>

<p>
    Please find a blank copy of the Boutique Schedule attached. This blank schedule contains sales plans by day along with any additional payroll hours allocated for tasks.  Use this document to prepare your boutique’s team schedule.  Please reference our “Boutique Scheduling Requirements” policy found in the Owner’s Manual for guidelines.
</p>

<p>You may reach out to your District Manager or Regional Director with any questions.</p>


